body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0b0f2a;
  color: #fff;
}
/* TITOLO ANOMATO */
.titolo-animato,
.sottotitolo-animato,
.paragrafo-animato {
    background: linear-gradient(90deg, #2701be, #9101ff, #6600ff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim-colore 8s linear infinite;
}

@keyframes anim-colore {
    0% { background-position: 0%; }
    100% { background-position: 300%; }
}

/* NAVBAR */
.header {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.navbar a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
    color: #9101ff;
}

/* HERO */
.hero {
  text-align: center;
  padding: 140px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-buttons .btn {
  margin: 10px;
}

/* BUTTONS */
.hero-buttons {
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
}

.btn-cv {
  border: 2px solid #6c63ff;
  color: #6c63ff;
}

/* ABOUT */
.about-wrapper {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 80px 20px;
}

/* WORK GRID */
.work-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 60px 20px;
}

.card {
  background: #11163d;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px rgba(108, 99, 255, 0.2);
}

/* CONTACT */
.contact-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 60px 20px;
}

.card {
  background: #11163d;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px rgba(108, 99, 255, 0.2);
}

#contact a {
    text-decoration: none;
}

#contact a:hover {
    color: #9101ff;
}

/* EDUCATION */
.education-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 60px 20px;
}

.card {
  background: #11163d;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px rgba(108, 99, 255, 0.2);
}

/* SKILL */
.skill-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 60px 20px;
}

.card {
  background: #11163d;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px rgba(108, 99, 255, 0.2);
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 40px 0;
}